.btn_mini {
  width: 10%;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.flexbox-pillar {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    padding: 2px;
    margin: 1rem;
    background-color: #EEEEEE;
}
