.box {
  background-color: #EEEEEE;
  margin: 1rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.flexbox-pillar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.recording {
  background-color: #EDEDED;
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.btn__add {
  width: 15%;
}
