.Create {
  text-align: center;
  padding: 25px;
}

.StepDiv {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 98%;
  padding: 25px 25px 25px 25px;

}

.flex-row-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}

.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.input {
  overflow: visible;
}
.input[type="text"] {
  width: 50%;
  border-radius: 0;
}

.input__lg {
  padding: 2rem;
  border: 2px solid #000;
}

.btn {
  margin: 25px;
  width: 10%;
  padding: 0.8rem 1rem 0.7rem;
  background-color: #39837C; /* Green */
  overflow: visible;
  border: none;
  color: white;
  text-transform: capitalize;
}

.flexbox-container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px;
  justify-content: center;
}

#main-screen {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1em;
        align-items: center;
        h3 {
            display: flex;
            align-items: center;
            * {
                padding: 0 0.5rem 0 0.5rem;
            }
        }
        img {
            justify-content: right;
            align-items: right;
            max-height: 80%;
        }
    }

    #main-screen-content {
        margin: 5em;
        align-self: center;
    }

    #main-screen-footer {
        display: flex;
        justify-content: space-between;
    }
}
