$accent: #007a73;

#main-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        align-items: center;
        h3 {
            display: flex;
            align-items: center;
            * {
                padding: 0 0.5rem 0 0.5rem;
            }
        }
        img {
            max-height: 80%;
        }
    }

    #main-screen-content {
        margin: 5em;
        align-self: center;
    }

    #main-screen-footer {
        display: flex;
        justify-content: space-between;
    }
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;

    #buttons {
        display: flex;
        justify-content: space-around;

        button {
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            padding: 0.7rem 0.9rem;
            margin: 0.5rem 0;
        }

        #continue-button {
            background-color: $accent;
            color: white;
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
