.App {
    text-align: center;
}

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1 {
  padding-top: 2rem;
}
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}

.stack-large > * + * {
  margin-top: 1rem;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  }
  .stack-large > * + * {
    margin-top: 1rem;
  }
}
.stack-exception {
  margin-top: 1.2rem;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    padding: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.div-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
}

.home > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.home > form {
  max-width: 100%;
}
.home > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.home {
  background: #fff;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.space {
  padding: 2rem 1rem 2rem;
}

.btn__lg {
  width: 26%;
}
